/* This file is for your main application css. */

@import "./_init.css";
@import "./_fonts.css";
@import "../node_modules/nprogress/nprogress.css";
@import "./_mavu_generic.css";
@import "./_mavu_form_md.css";
@import "./_sidebar.css";
@import "./_buttons.css";
@import "./_tinymce.css";

@import "./_elements.css";

html {
  scroll-behavior: smooth;
}
