/* This file is for your main application css. */

@import "./_init.css";
@import "./_fonts.css";
@import "../node_modules/nprogress/nprogress.css";
@import "./_mavu_generic.css";
@import "./_mavu_form_md.css";
@import "./_buttons.css";
