<div>
  <div class="my-4 text-lg font-bold">Backend-Users</div>

  <.live_component
    module={MavuBeUserUi.Live.ListComponent}
    id="be_user_list"
    context={@context}
    base_path={~p"/be/be_user_manager"}
  />
</div>
